html{
    box-sizing: border-box;
}
*{
    box-sizing:inherit;
}

body{
    font-family: sans-serif;
    width:100%;
    /*height:1300px;*/
}

header{ 
    width:100%;
    display: flex;
    justify-content: space-between;                 /*pushes the nav to the right*/
                                                    /*height: 100px;/*will need to be changed*/
    padding: 0 20px;
    position: fixed;
    background-color: #61291D;
    color: white;
}

nav{
    display: flex;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-self: center;
}

li{
    padding-left: 15px;
}

.container{
    padding-top: 100px;
}

fieldset{
    margin: 20px;
    display: flex;
}

input{
    width: 600px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
}

textarea{
    border: 1px solid black;
}



footer{
    width:100%;
    display: flex;
    justify-content: space-between;                 /*pushes the nav to the right*/
                                                    /*height: 100px;/*will need to be changed*/
    padding: 0 10px;
    background-color: #61291D;
    color: white;
    height: 30px;
    justify-content: flex-end;
    /*height: 100px; /*will need to be changed*/
}